<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>

    <!-- Custom CSS -->
    <link href="Stylesheet/Home.css" rel="stylesheet">
    <link href="Stylesheet/bootstrap.min.css" rel="stylesheet">
    <link href="Stylesheet/bootstrap.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Movieflix</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Movies</a>
                </li>
                <li>
                    <a href="#">TV Shows</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="Login.html">Log Out</a>
                </li>

            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-xs-6">
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Criteria
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Genre</a></li>
                <li><a href="#">IMDB Ratings</a></li>
            </ul>
        </div>
        </div>
        <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Search" name="mvsearch">
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary"> Search </button>
        </div>

    </div>
    <hr>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Interstellar</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong> A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Inception</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong>A thief who steals corporate secrets through use of the dream-sharing technology is given the inverse task of planting an idea into the mind of a CEO.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Interstellar</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong> A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Inception</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong>A thief who steals corporate secrets through use of the dream-sharing technology is given the inverse task of planting an idea into the mind of a CEO.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Interstellar</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong> A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Inception</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong>A thief who steals corporate secrets through use of the dream-sharing technology is given the inverse task of planting an idea into the mind of a CEO.</p>
        </div>
    </div>

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Interstellar</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong> A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Inception</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong>A thief who steals corporate secrets through use of the dream-sharing technology is given the inverse task of planting an idea into the mind of a CEO.</p>
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg" alt="">
            </a>
            <h3>
                <a href="#">Interstellar</a>
            </h3>
            <p><strong>Imdb Rating:</strong> 8.6</p>
            <p><strong>Plot:</strong> A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Made By: Bhagyashree Rathod </p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>